node_meta{instance="nodeexporter:9100", node_id="{{ ansible_facts['nodename'] }}", container_label_com_docker_swarm_node_id="{{ ansible_facts['nodename'] }}", node_name="{{ ansible_facts['nodename'] }}"} 1
