global:
 resolve_timeout: 1m

route:
  receiver: 'slack'

receivers:
- name: 'default'
- name: 'slack'
  slack_configs:
    - api_url: '{{ slack_api_url }}' # <--- REPLACE THIS WITH YOUR SLACK WEBHOOK
      send_resolved: true
      channel: '#{{ slack_channel }}' # <--- REPLACE THIS WITH YOUR SLACK CHANNEL
{% raw %}
      title: '[{{ .Status | toUpper }}{{ if eq .Status "firing" }}:{{ .Alerts.Firing | len }}{{ end }}] Monitoring Event Notification'
      text: |-
        {{ range .Alerts }}
          *Alert:* {{ .Labels.alertname }} - `{{ .Labels.severity }}`
          *Description:* {{ .Annotations.description }}
          *Details:*
          {{ range .Labels.SortedPairs }} • *{{ .Name }}:* `{{ .Value }}`
          {{ end }}
        {{ end }}
{% endraw %}
